openapi: 3.0.3
info:
  title: Bitimen exchange-backend — bitAgent read-only pilot API
  description: >
    Read-only, service-to-service endpoints exposed for the bitAgent monitoring
    pilot (withdrawal/deposit slowdown investigation). All routes are GET-only
    and live in Rest\Controller\BotController on exchange-backend. No write,
    trade, transfer, or withdrawal endpoints are exposed here by design.
  version: "0.8.0-pilot"
servers:
  - url: https://devapi.zekabot.com
    description: exchange-backend (VIRTUAL_HOST devapi.zekabot.com / apistage2.zekabot.com)
  - url: https://staging-devapi.zekabot.com
    description: >
      Isolated sandbox — separate MySQL with 100% synthetic fixture data
      (no production data of any kind), separate bot-auth keys, deliberately
      no matching-engine replica (so endpoints that call it correctly return
      500/502 rather than working — that's intentional, not a bug). See
      README "Staging environment" for the scenario matrix the fixtures
      cover and how to get a key.
security:
  - botServiceAuth: []
paths:
  /api/bot/health:
    get:
      summary: Backend and dependency health
      description: >
        Returns HTTP 200 whenever the caller is authenticated, even if a
        dependency is down — the overall state lives in `data.status`, not the
        status code. This lets the caller distinguish "API unreachable"
        (transport error, no response at all) from "API up but a dependency is
        degraded", and avoids colliding with the 503 this API already uses to
        mean "bot auth not configured". Dependency probes are bounded
        (2s connect / 5s read) so a hung dependency is reported as a failure
        rather than hanging the health check itself.
      responses:
        '200':
          description: OK (check data.status for actual health)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/bot/transactions/summary:
    get:
      summary: Exchange-wide open deposit/withdrawal counts by status, right now
      description: >
        Point-in-time (no date range, unlike /operations) — for detecting a
        slowdown you need "how much is stuck right now", not a historical
        count. **Known data-quality caveat**: `oldest_open_*` currently
        reflects stale rows from 2022 still flagged open in the database
        (observed live 2026-07-30: ~4+ years old), not a real incident. Do not
        alert directly on this value without a sanity ceiling (e.g. ignore
        ages beyond a threshold, or alert on the *rate of change* in
        `open_count` instead) until those rows are cleaned up or the query is
        changed to exclude them — deciding which is a product/ops call, not
        made here.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsSummaryResponse'
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/bot/withdrawals/pending:
    get:
      summary: All currently in-flight withdrawals, exchange-wide, oldest first
      description: >
        Cross-user (unlike /user/{userId}/withdrawals) — finds stuck
        withdrawals without already knowing which user is affected.
        Keyset/cursor-paginated by id, not the offset-style `limit` used
        elsewhere: pass the previous page's `next_cursor` as `cursor` to
        continue; omit `cursor` (or pass 0) for the first page. Same
        4-year-old-row caveat as /transactions/summary applies to whatever
        appears first in this list.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - name: cursor
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
          description: Last withdrawal_id seen (from the previous page's next_cursor). Omit for the first page.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingWithdrawalsResponse'
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/bot/deposits/pending:
    get:
      summary: All currently in-flight deposits, exchange-wide, oldest first
      description: >
        Same shape and rationale as /withdrawals/pending — cross-user,
        keyset/cursor-paginated by id, oldest first. Open here means
        is_success IN (0, 99), i.e. pending or processing.
        One real difference: `network` on this endpoint is a human-readable
        name from asset_deposit_networks.name (observed live in Persian for
        IRT/fiat rows, e.g. "کارتهای شتاب" — Iran's Shetab bank-card network),
        not a short ASCII ticker like withdrawals' network_ticker — the two
        underlying tables simply don't have matching columns. Same
        4-year-old-row caveat as /transactions/summary applies here too.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - name: cursor
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
          description: Last deposit_id seen (from the previous page's next_cursor). Omit for the first page.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingDepositsResponse'
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/bot/ledger/liabilities:
    get:
      summary: Aggregate customer liability per asset, from the matching engine's own balance snapshots
      description: >
        Reads exchange-core's periodic slice_balance_<unix_ts> snapshot
        tables (trade_log DB) — the same source market-monitor's own
        internal totals script already reads. No fixed table name: the
        latest one is resolved dynamically every request, since a new
        snapshot appears periodically and old ones aren't guaranteed to
        stick around. `ledger_snapshot_at` is the actual snapshot time, not
        "now" — treat data as being up to one snapshot interval stale
        (observed live: ~15 minutes apart, but not a documented SLA).
        **Does not include IRT valuation per asset** — with 130+ distinct
        assets observed live, computing that would mean hundreds of
        matching-engine RPC round-trips per request; returning raw per-asset
        totals only rather than building something that risks timing out.
        Scoped to `ledger-summary:read`.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiabilitiesResponse'
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '502':
          description: The snapshot table exists but the aggregate query itself failed (ledger_query_failed)
          content:
            application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }
        '503':
          description: Either the trade_log database is unreachable (ledger_database_unreachable) or no snapshot table exists yet (ledger_snapshot_unavailable) — check error.code
          content:
            application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }

  /api/bot/treasury/assets:
    get:
      summary: Exchange-controlled crypto wallet totals plus company IRT bank balance
      description: >
        Combines two sources into one response: (1) `treasury_wallets` /
        `treasury_wallet_tokens` (exchange-backend-mysql) — the same tables
        exchange-admin's Treasury page manages — aggregated by asset and
        custody class; and (2) a live company-wide IRT total from the Jibit
        Co-Bank API, the same integration exchange-admin's Accounting page
        uses, across all active `company_bank_accounts` (deduplicated by
        IBAN — production has duplicate active rows sharing one IBAN, which
        would otherwise double-count). **Only `hot`/`cold` custody classes
        exist** — the contract's fuller warm/custodian/pending/restricted
        taxonomy has no equivalent in the underlying schema
        (`treasury_wallets.wallet_type` only ever holds `hot` or `cold`).
        Crypto balances are **manual-refresh-only**: exchange-admin's
        Treasury page has no cron auto-refresh, an admin must click
        "Refresh" per wallet, so `last_refreshed_at` can be arbitrarily
        stale — check it per wallet rather than assuming freshness from
        `freshness_sla_seconds` alone. A wallet or token with a
        `last_refresh_error`, or a bank account whose Jibit balance fetch
        fails, does **not** fail the whole request — it's surfaced as a row
        with `error`/`last_refresh_error` set and a matching entry in the
        top-level `quality.warnings` array (`quality.complete: false`),
        while every other row still returns normally. The IRT balance
        itself is cached 60s per IBAN; the Jibit access token is cached
        ~9h (30s on auth failure) — both cache entries live in the shared
        `temp_data` table, the same cache exchange-admin's Accounting page
        reads and writes. Addresses and IBANs are masked. Scoped to
        `wallet-summary:read`.
      responses:
        '200':
          description: >
            OK. Always 200 once authenticated and past validation — source
            failures (unreachable Jibit, a wallet's failed on-chain refresh)
            degrade individual fields/rows rather than the whole request;
            see `quality.warnings`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TreasuryAssetsResponse'
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }

  /api/bot/operations:
    get:
      summary: Aggregated deposit/withdrawal/order counts for a date range
      parameters:
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationsResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/bot/market/{marketIdentifier}/summary:
    get:
      summary: Single market ticker/status snapshot
      parameters:
        - name: marketIdentifier
          in: path
          required: true
          schema: { type: string, example: BTC_USDT }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketSummaryResponse'
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '502': { $ref: '#/components/responses/DependencyError' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/bot/user/{userId}/summary:
    get:
      summary: Account status, KYC level, open/completed order counts for one user
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSummaryResponse'
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/bot/user/{userId}/balances:
    get:
      summary: Per-asset available/blocked/total balances and IRT valuation for one user
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResponse'
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '502': { $ref: '#/components/responses/DependencyError' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/bot/user/{userId}/trades:
    get:
      summary: Executed trades for one user in a date range
      description: >
        No cursor pagination yet — only a page-size cap via `limit`
        (max 100, default 50), most-recent-first. A 366-day window can still
        return a large result if trade volume is high; cursor-based paging
        is tracked as a v0.3 item, not implemented.
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradesResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '502': { $ref: '#/components/responses/DependencyError' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/bot/user/{userId}/deposits:
    get:
      summary: Deposit records for one user in a date range (tx hash/destination masked)
      description: >
        Page-size cap via `limit` (max 100, default 50) only — no cursor
        pagination yet (see /trades description).
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositsResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/bot/user/{userId}/withdrawals:
    get:
      summary: Withdrawal records for one user in a date range (tx hash/destination masked)
      description: >
        Page-size cap via `limit` (max 100, default 50) only — no cursor
        pagination yet (see /trades description).
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalsResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/bot/user/{userId}/pnl:
    get:
      summary: Execution PnL for one user in a date range (partial — cost-basis ledger not connected yet)
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PnlResponse'
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '503': { $ref: '#/components/responses/Unavailable' }

components:
  securitySchemes:
    botServiceAuth:
      type: apiKey
      in: header
      name: X-Bot-Key-ID
      description: >
        OpenAPI's securitySchemes can't fully express a multi-header HMAC
        protocol, so this entry is a placeholder pointing at the real
        requirement: every request must carry all four headers below, and
        the shared secret itself is NEVER transmitted (v0.1 sent the secret
        as the bearer token on every call, which was a real vulnerability —
        fixed in v0.2 by moving to key-ID lookup + pure signature proof).

        Required headers:
        - `X-Bot-Key-ID`: identifies which secret to use server-side, e.g. `bitagent-pilot-01`.
        - `X-Request-Timestamp`: unix seconds, must be within 60s of server time.
        - `X-Request-ID`: a v1-5 UUID, single-use (replayed IDs are rejected with 409).
        - `X-Request-Signature`: hex HMAC-SHA256, computed as below.

        v0.4 adds per-key scopes, matching exchange-side-requirements.md's
        authorization table. Only these eight endpoints are scope-checked
        today — the rest predate that contract and stay open to any
        authenticated key: `health` → `health:read`, `operations` →
        `operations:read`, `transactions/summary` → `transactions:read`,
        `withdrawals/pending` → `transactions:read`, `deposits/pending` →
        `transactions:read`, `market/{id}/summary` → `markets:read`,
        `ledger/liabilities` → `ledger-summary:read`, `treasury/assets` →
        `wallet-summary:read`. A key
        provisioned with no scope list (the pre-v0.4 `key_id:secret` format,
        still accepted) has unrestricted access — that's a backward-compat
        path for existing keys, not the intended shape for a new one. A
        scope-denied call gets 403 `scope_denied`.

        Canonical string to sign (fields joined with `\n`):
        ```
        METHOD
        PATH
        SORTED_QUERY_STRING
        TIMESTAMP
        REQUEST_ID
        BODY_SHA256_HEX
        ```
        - `METHOD`: uppercase, e.g. `GET`.
        - `PATH`: the URL path only, e.g. `/api/bot/operations` (no query string, no host).
        - `SORTED_QUERY_STRING`: query params sorted by key (byte order), each
          pair as `rawurlencode(key)=rawurlencode(value)`, joined with `&`.
          Empty string if there are no query params. (Note: this API's own
          front controller injects a `_url` routing param into the query
          string — that param is stripped server-side before verification
          and must NOT be included when the client builds this string.)
        - `TIMESTAMP` / `REQUEST_ID`: same literal values sent in the headers above.
        - `BODY_SHA256_HEX`: sha256 of the raw request body, lowercase hex.
          For all current endpoints (GET, no body) this is the well-known
          empty-string hash: `e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855`.

        `signature = lowercase_hex(HMAC_SHA256(canonical_string, shared_secret))`

  parameters:
    UserId:
      name: userId
      in: path
      required: true
      schema: { type: integer, minimum: 1 }
    DateFrom:
      name: date_from
      in: query
      schema: { type: string }
      description: >
        Defaults to 30 days before date_to. Clamped to 366 days before
        date_to. Accepts anything PHP `strtotime()` parses; the API's own
        output for this field is `YYYY-MM-DD HH:MM:SS` in UTC (not full
        ISO 8601 — see README "Known timestamp inconsistency").
    DateTo:
      name: date_to
      in: query
      schema: { type: string }
      description: Defaults to now. Same format note as date_from.
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
      description: Silently clamped server-side to [1, 100].

  responses:
    BadRequest:
      description: Invalid or out-of-range date parameters
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }
    AuthError:
      description: Missing/invalid signature, missing key ID, or expired timestamp
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }
    Forbidden:
      description: Caller IP not in the allowlist (source_ip_denied), or the key lacks the required scope for this endpoint (scope_denied) — check error.code to tell them apart.
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }
    NotFound:
      description: The requested user/market/entity does not exist
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }
    Conflict:
      description: The X-Request-ID has already been used (replay)
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }
    UnprocessableEntity:
      description: Well-formed but semantically invalid parameter (e.g. malformed market identifier)
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }
    RateLimited:
      description: Per-key rate limit exceeded (EXCHANGE_BOT_RATE_LIMIT_PER_MINUTE, default 120/min)
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }
    ServerError:
      description: Unhandled application error
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }
    DependencyError:
      description: The matching engine (JSON-RPC) did not return a valid result
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }
    Unavailable:
      description: Bot service authentication is not configured on this deployment
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }

  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, request_id, retryable, retry_after_seconds, details]
          properties:
            code: { type: string, example: service_auth_failed }
            message: { type: string }
            request_id: { type: string }
            retryable: { type: boolean, description: "true for 429/500/502/503/504 — false for every other code (4xx caused by the request itself won't succeed on retry without changing something)." }
            retry_after_seconds: { type: integer, nullable: true, description: "Only ever set (to 60, matching the rate-limit window) on a 429. Null on every other error." }
            details: { type: object, description: "Reserved for future structured error context (e.g. which field failed validation). Always an empty object today." }

    SchemaRef:
      type: object
      required: [name, version]
      properties:
        name: { type: string, description: "Dot-separated schema name, e.g. transactions.summary.", example: "transactions.summary" }
        version: { type: string, example: "1.0.0" }

    # Shared response wrapper per exchange-side-requirements.md §2.3. Every
    # XResponse schema below is `allOf: [Envelope, {data: <shape>}]` rather
    # than repeating these fields — keep it that way; don't duplicate.
    Envelope:
      type: object
      required: [schema, tenant_id, source_id, owner, observed_at, generated_at, freshness_sla_seconds, data_class, lineage, quality, request_id]
      properties:
        schema: { $ref: '#/components/schemas/SchemaRef' }
        tenant_id: { type: string, description: "Fixed at 'bitimen' — this is a single-tenant exchange, not a real multi-tenant lookup.", example: bitimen }
        source_id: { type: string, description: "Which backing system the data came from, e.g. exchange-backend-mysql, exchange-core, exchange-backend.", example: exchange-backend-mysql }
        owner: { type: string, description: "Team that owns this data source. Configurable via EXCHANGE_BOT_OWNER; not yet split per-endpoint (see README).", example: exchange-backend-team }
        observed_at:
          type: string
          format: date-time
          description: "When the underlying data was captured. Currently always identical to generated_at — every endpoint reads live at request time with no separate capture step. Will diverge once any endpoint starts serving from a cache or snapshot table."
        generated_at: { type: string, format: date-time, description: "When this response was built. True ISO 8601 UTC." }
        freshness_sla_seconds: { type: integer, minimum: 0, description: "Renamed from data_freshness_seconds in v0.3 — same semantics, an informal per-endpoint cache-staleness hint, not a contractually monitored SLA yet." }
        data_class: { type: string, enum: [internal], description: "Only 'internal' is used today — no endpoint here classifies data as public/confidential/restricted yet." }
        lineage: { type: array, items: { type: string }, description: "Single-element array naming source_id today — not a real multi-hop lineage graph yet." }
        quality:
          type: object
          required: [complete, warnings]
          properties:
            complete: { type: boolean, description: "Always true today — no endpoint detects/flags partial results yet." }
            warnings: { type: array, items: { type: string }, description: "Always empty today." }
        request_id: { type: string, description: "Echoes the caller's X-Request-ID. Not part of the requirements-doc envelope spec, kept in addition to it for audit correlation with [bot-auth] log lines." }

    HealthResponse:
      allOf:
        - $ref: '#/components/schemas/Envelope'
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [status, service, environment, server_time, server_time_unix, components]
              properties:
                status:
                  type: string
                  enum: [healthy, degraded, maintenance]
                  description: >
                    'maintenance' overrides 'degraded' if both are true — takes
                    priority because it's the more informative signal ("expected
                    downtime" vs "unexpected problem"). Never 'unavailable': if this
                    endpoint is answering at all, the service can't self-report
                    full unavailability in the sense that word implies. Always
                    check this field — the HTTP status is 200 in every case.
                service: { type: string, example: exchange-backend }
                environment: { type: string, example: production, description: "From EXCHANGE_BOT_ENVIRONMENT, default 'production'." }
                server_time:
                  type: string
                  format: date-time
                  description: "Server clock. Compare against your own to detect drift before it starts causing signature rejections (requests must be within 60s)."
                server_time_unix: { type: integer }
                components:
                  type: object
                  required: [database, matching_engine]
                  properties:
                    database: { $ref: '#/components/schemas/HealthComponent' }
                    matching_engine: { $ref: '#/components/schemas/HealthComponent' }
                  description: >
                    Not implemented (would need new instrumentation): request
                    rate, error rate, latency percentiles, CPU/memory/disk
                    saturation, uptime, deployed version. Omitted rather than
                    fabricated as zeros.

    HealthComponent:
      type: object
      required: [name, type, status, latency_ms]
      properties:
        name: { type: string, example: exchange-backend-mysql }
        type: { type: string, example: mysql }
        status: { type: string, enum: [healthy, fail] }
        latency_ms: { type: number, description: "Round-trip probe time in milliseconds." }
        error_code:
          type: string
          enum: [query_failed, unreachable, unexpected_response]
          description: "Present only when status is fail. Deliberately a coarse code — underlying exception messages are not exposed, as they can carry DSNs/credentials."

    TransactionsSummaryResponse:
      allOf:
        - $ref: '#/components/schemas/Envelope'
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [as_of, deposits, withdrawals]
              properties:
                as_of: { type: string, format: date-time }
                deposits:
                  type: object
                  required: [by_status, open_count, oldest_open_created_at, oldest_open_age_seconds]
                  properties:
                    by_status:
                      type: object
                      required: [pending, processing, confirmed, rejected, unknown]
                      properties:
                        pending: { type: integer }
                        processing: { type: integer }
                        confirmed: { type: integer }
                        rejected: { type: integer }
                        unknown: { type: integer }
                    open_count: { type: integer, description: "pending + processing" }
                    oldest_open_created_at: { type: string, nullable: true, description: "Null only if there are zero open deposits." }
                    oldest_open_age_seconds: { type: integer, nullable: true, description: "See endpoint description for the stale-row caveat — do not alert on this raw." }
                withdrawals:
                  type: object
                  required: [by_status, open_count, oldest_open_created_at, oldest_open_age_seconds]
                  properties:
                    by_status:
                      type: object
                      required: [pending, verified, processing, completed, cancelled]
                      properties:
                        pending: { type: integer }
                        verified: { type: integer }
                        processing: { type: integer }
                        completed: { type: integer }
                        cancelled: { type: integer }
                    open_count: { type: integer, description: "pending + verified + processing" }
                    oldest_open_created_at: { type: string, nullable: true }
                    oldest_open_age_seconds: { type: integer, nullable: true, description: "See endpoint description for the stale-row caveat — do not alert on this raw." }

    PendingWithdrawalsResponse:
      allOf:
        - $ref: '#/components/schemas/Envelope'
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [as_of, count_returned, next_cursor, items]
              properties:
                as_of: { type: string, format: date-time }
                count_returned: { type: integer }
                next_cursor: { type: string, nullable: true, description: "Pass as ?cursor= to get the next page. Null means this was the last page." }
                items:
                  type: array
                  items:
                    type: object
                    required: [withdrawal_id, user_id, asset, network, status, process_status, requested_amount, sent_amount, fee, destination, transaction_hash, created_at, updated_at, age_seconds]
                    properties:
                      withdrawal_id: { type: integer }
                      user_id: { type: integer }
                      asset: { type: string }
                      network:
                        type: string
                        nullable: true
                        description: "From asset_withdraw_networks.network_ticker. Can be an empty string for some records (observed on fiat/IRT rows) — a real DB value, not a join failure."
                      status: { type: string, enum: [pending, verified, processing], description: "Only these three appear — the query already excludes completed/cancelled." }
                      process_status:
                        type: integer
                        nullable: true
                        description: "Raw integer from the withdraw-processor callback. Meaning not fully documented in source (0/1/2 observed); exposed as-is rather than guessed at. process_result (free-text) is deliberately NOT exposed — unconfirmed whether it can carry sensitive data."
                      requested_amount: { type: string }
                      sent_amount: { type: string }
                      fee: { type: string }
                      destination: { type: string, nullable: true, description: masked }
                      transaction_hash: { type: string, nullable: true, description: masked }
                      created_at: { type: string }
                      updated_at: { type: string, nullable: true, description: "Null observed live when modified_at was never set on the row." }
                      age_seconds: { type: integer, description: "See endpoint description for the stale-row caveat." }

    PendingDepositsResponse:
      allOf:
        - $ref: '#/components/schemas/Envelope'
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [as_of, count_returned, next_cursor, items]
              properties:
                as_of: { type: string, format: date-time }
                count_returned: { type: integer }
                next_cursor: { type: string, nullable: true, description: "Pass as ?cursor= to get the next page. Null means this was the last page." }
                items:
                  type: array
                  items:
                    type: object
                    required: [deposit_id, user_id, asset, network, status, collect_status, amount, net_amount, destination, transaction_hash, created_at, updated_at, age_seconds]
                    properties:
                      deposit_id: { type: integer }
                      user_id: { type: integer }
                      asset: { type: string }
                      network:
                        type: string
                        nullable: true
                        description: "From asset_deposit_networks.name — a human-readable name, not a short ticker (that table has no equivalent to withdrawals' network_ticker column). Observed live in Persian for IRT/fiat rows."
                      status: { type: string, enum: [pending, processing], description: "Only these two appear — the query already excludes confirmed/rejected/unknown." }
                      collect_status:
                        type: integer
                        nullable: true
                        description: "Raw integer tracking movement of the deposit from the user's address into the exchange's own wallet ('collection'). Meaning not fully documented in source; exposed as-is rather than guessed at. collect_result (free-text) is deliberately NOT exposed — unconfirmed whether it can carry sensitive data, same reasoning as withdrawals' process_result."
                      amount: { type: string }
                      net_amount: { type: string }
                      destination: { type: string, nullable: true, description: "masked. Observed null on old fiat/IRT rows where no deposit address applies." }
                      transaction_hash: { type: string, nullable: true, description: masked }
                      created_at: { type: string }
                      updated_at: { type: string, nullable: true, description: "Null observed live when modified_at was never set on the row." }
                      age_seconds: { type: integer, description: "See endpoint description for the stale-row caveat." }

    LiabilitiesResponse:
      allOf:
        - $ref: '#/components/schemas/Envelope'
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [ledger_snapshot_at, asset_count, negative_balance_count, liabilities]
              properties:
                ledger_snapshot_at:
                  type: string
                  format: date-time
                  nullable: true
                  description: "The actual snapshot table's timestamp, not 'now' — see endpoint description for staleness. Null only if somehow resolved with no valid timestamp (shouldn't happen given the 503 on no-table-found)."
                asset_count: { type: integer, description: "Count of distinct assets in the liabilities array below." }
                negative_balance_count:
                  type: integer
                  description: "Rows in the snapshot with balance < 0, counted without exposing which user/asset — per the requirements doc's 'negative/invalid balance count without customer identities.' Observed live: 0 in production; a synthetic negative row exists in the staging fixtures to prove this field actually works."
                liabilities:
                  type: array
                  items:
                    type: object
                    required: [asset, available, locked, total]
                    properties:
                      asset: { type: string, example: BTC }
                      available: { type: string }
                      locked: { type: string, description: "Frozen/held balance (slice_balance's t=2 rows)." }
                      total: { type: string, description: "available + locked." }

    TreasuryAssetsResponse:
      allOf:
        - $ref: '#/components/schemas/Envelope'
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [as_of, crypto, fiat]
              properties:
                as_of:
                  type: string
                  format: date-time
                  description: "When this response was assembled — not a snapshot time like liabilities' ledger_snapshot_at, since treasury combines two independently-refreshed sources (manually-refreshed wallet balances, a 60s-cached Jibit balance)."
                crypto:
                  type: object
                  required: [assets, wallets]
                  properties:
                    assets:
                      type: array
                      description: "Per-asset totals across all wallets, split by custody class."
                      items:
                        type: object
                        required: [asset, by_custody_class, total]
                        properties:
                          asset: { type: string, example: BTC }
                          by_custody_class:
                            type: object
                            description: "Keyed by hot/cold — only whichever classes have a nonzero contribution for this asset are present."
                            properties:
                              hot: { type: string }
                              cold: { type: string }
                          total: { type: string }
                    wallets:
                      type: array
                      description: "One row per treasury_wallets record, ordered wallet_type asc, network asc, id asc."
                      items:
                        type: object
                        required: [wallet_id, label, network, native_asset, custody_class, is_active, address, native_balance, tokens]
                        properties:
                          wallet_id: { type: integer }
                          label: { type: string }
                          network: { type: string, example: BSC }
                          native_asset: { type: string, nullable: true, description: "Resolved from network via a fixed native-coin map; null if the network isn't in that map." }
                          custody_class: { type: string, enum: [hot, cold] }
                          is_active: { type: boolean }
                          address: { type: string, description: "Masked." }
                          native_balance: { type: string, nullable: true, description: "As of last_refreshed_at — manual-refresh-only, can be stale. See endpoint description." }
                          last_refreshed_at: { type: string, format: date-time, nullable: true }
                          last_refresh_error: { type: string, nullable: true, description: "If set, this wallet's data is stale/unreliable and a matching entry is also in the top-level quality.warnings array." }
                          tokens:
                            type: array
                            items:
                              type: object
                              required: [symbol, balance]
                              properties:
                                symbol: { type: string, example: USDT }
                                balance: { type: string, nullable: true }
                                last_refreshed_at: { type: string, format: date-time, nullable: true }
                                last_refresh_error: { type: string, nullable: true }
                fiat:
                  type: object
                  required: [total_irt, accounts]
                  properties:
                    total_irt:
                      type: string
                      nullable: true
                      description: "Sum of live Jibit Co-Bank balances across all active company_bank_accounts, deduplicated by IBAN. Null only if every account's balance fetch failed (see accounts[].error and quality.warnings) — not the same as a true zero balance."
                    accounts:
                      type: array
                      description: "One row per unique active IBAN (duplicate active rows sharing an IBAN are collapsed to one; inactive rows are excluded entirely)."
                      items:
                        type: object
                        required: [account_id, iban_masked, balance_irt]
                        properties:
                          account_id: { type: integer }
                          iban_masked: { type: string }
                          balance_irt: { type: string, nullable: true }
                          fetched_at: { type: string, format: date-time, nullable: true, description: "Null when the balance came from an unexpired 60s cache entry originally written by exchange-admin's Accounting page (shared temp_data cache) rather than this request." }
                          error: { type: string, nullable: true }

    OperationsResponse:
      allOf:
        - $ref: '#/components/schemas/Envelope'
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [date_from, date_to, orders, deposits, withdrawals, pending_withdrawals, failed_deposits, fee_revenue_by_asset]
              properties:
                date_from: { type: string, example: "2026-06-29 18:18:31" }
                date_to: { type: string, example: "2026-07-29 18:18:31" }
                orders: { type: integer }
                deposits: { type: integer }
                withdrawals: { type: integer }
                pending_withdrawals: { type: integer }
                failed_deposits: { type: integer }
                fee_revenue_by_asset:
                  type: object
                  additionalProperties: { type: string, description: "Decimal amount as a string, not a float." }

    MarketSummaryResponse:
      allOf:
        - $ref: '#/components/schemas/Envelope'
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [market, is_active, base_asset, quote_asset, last, open, high, low, volume, as_of]
              properties:
                market: { type: string, example: BTC_USDT }
                is_active: { type: boolean }
                base_asset: { type: string }
                quote_asset: { type: string }
                last: { type: string }
                open: { type: string }
                high: { type: string }
                low: { type: string }
                volume: { type: string }
                as_of: { type: string, format: date-time }

    UserSummaryResponse:
      allOf:
        - $ref: '#/components/schemas/Envelope'
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [user_id, account_status, registered_at, kyc_level, operations, orders, last_successful_login_at]
              properties:
                user_id: { type: integer }
                account_status: { type: string, enum: [active, banned] }
                registered_at: { type: string, example: "2025-03-01 10:22:00" }
                kyc_level: { type: integer }
                operations:
                  type: object
                  required: [deposit_enabled, withdraw_enabled, fiat_deposit_enabled, fiat_withdraw_enabled]
                  properties:
                    deposit_enabled: { type: boolean }
                    withdraw_enabled: { type: boolean }
                    fiat_deposit_enabled: { type: boolean }
                    fiat_withdraw_enabled: { type: boolean }
                orders:
                  type: object
                  required: [open, completed]
                  properties:
                    open: { type: integer }
                    completed: { type: integer }
                last_successful_login_at: { type: string, nullable: true }

    BalancesResponse:
      allOf:
        - $ref: '#/components/schemas/Envelope'
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [user_id, portfolio_value_irt, items]
              properties:
                user_id: { type: integer }
                portfolio_value_irt: { type: string }
                items:
                  type: array
                  items:
                    type: object
                    required: [asset, available, blocked, total, mark_price_irt, value_irt, as_of]
                    properties:
                      asset: { type: string }
                      available: { type: string }
                      blocked: { type: string }
                      total: { type: string }
                      mark_price_irt: { type: string, nullable: true, description: "Null if no direct or synthesized IRT price path exists." }
                      value_irt: { type: string, nullable: true }
                      as_of: { type: string, format: date-time }

    TradesResponse:
      allOf:
        - $ref: '#/components/schemas/Envelope'
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [user_id, date_from, date_to, items]
              properties:
                user_id: { type: integer }
                date_from: { type: string }
                date_to: { type: string }
                items:
                  type: array
                  items:
                    type: object
                    required: [order_id, market, side, amount, price, quote_amount, fee, executed_at]
                    properties:
                      order_id: { type: integer }
                      market: { type: string }
                      side: { type: string, enum: [buy, sell] }
                      role: { type: string, nullable: true, description: "Always null currently — maker/taker role is not populated by this endpoint yet." }
                      amount: { type: string }
                      price: { type: string }
                      quote_amount: { type: string }
                      fee: { type: string }
                      executed_at: { type: string, format: date-time }

    DepositsResponse:
      allOf:
        - $ref: '#/components/schemas/Envelope'
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [user_id, date_from, date_to, items]
              properties:
                user_id: { type: integer }
                date_from: { type: string }
                date_to: { type: string }
                items:
                  type: array
                  items:
                    type: object
                    required: [deposit_id, asset, amount, net_amount, status, transaction_hash, destination, confirmed_at, created_at, cost_basis_mark_irt]
                    properties:
                      deposit_id: { type: integer }
                      asset: { type: string }
                      amount: { type: string }
                      net_amount: { type: string }
                      status: { type: string, enum: [rejected, pending, confirmed, processing, unknown] }
                      transaction_hash: { type: string, nullable: true, description: masked }
                      destination: { type: string, nullable: true, description: masked }
                      confirmed_at: { type: string, nullable: true }
                      created_at: { type: string }
                      cost_basis_mark_irt:
                        type: string
                        nullable: true
                        description: "Always null today — not yet computed. Not present at all if this API adopts OpenAPI 3.1 (`type: [string, \"null\"]` there instead)."

    WithdrawalsResponse:
      allOf:
        - $ref: '#/components/schemas/Envelope'
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [user_id, date_from, date_to, items]
              properties:
                user_id: { type: integer }
                date_from: { type: string }
                date_to: { type: string }
                items:
                  type: array
                  items:
                    type: object
                    required: [withdrawal_id, asset, requested_amount, sent_amount, fee, status, destination, transaction_hash, created_at, updated_at]
                    properties:
                      withdrawal_id: { type: integer }
                      asset: { type: string }
                      requested_amount: { type: string }
                      sent_amount: { type: string }
                      fee: { type: string }
                      status: { type: string, enum: [cancelled, completed, processing, verified, pending] }
                      destination: { type: string, nullable: true, description: masked }
                      transaction_hash: { type: string, nullable: true, description: masked }
                      created_at: { type: string }
                      updated_at: { type: string, nullable: true, description: "Null observed live (via /withdrawals/pending, same underlying column) when modified_at was never set on the row." }

    PnlResponse:
      allOf:
        - $ref: '#/components/schemas/Envelope'
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [user_id, currency, cost_basis, calculation_complete, incomplete_reason, execution_pnl, date_from, date_to]
              properties:
                user_id: { type: integer }
                currency: { type: string, example: IRT }
                cost_basis: { type: string, example: weighted_average }
                realized_pnl_irt: { type: string, nullable: true }
                unrealized_pnl_irt: { type: string, nullable: true }
                portfolio_value_irt: { type: string, nullable: true }
                trading_fees_irt: { type: string, nullable: true }
                calculation_complete: { type: boolean, description: "False today for every response — see incomplete_reason." }
                incomplete_reason: { type: string, nullable: true, example: weighted_average_ledger_not_connected }
                execution_pnl:
                  type: object
                  required: [amount_irt, calculated_orders, calculated_at]
                  properties:
                    amount_irt: { type: string }
                    calculated_orders: { type: integer }
                    calculated_at: { type: string, nullable: true }
                date_from: { type: string }
                date_to: { type: string }
